In [26]:
import pandas as pd

flights = pd.read_csv('../raw-data/2008.csv')
airports = pd.read_csv('../raw-data/airports.csv')
carrier = pd.read_csv('../raw-data/carriers.csv')

In [27]:
flights.shape
flights['Month'].unique()

array([1, 2, 3, 4], dtype=int64)

In [28]:
flights.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                64442
CRSDepTime                 0
ArrTime                70096
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                42452
ActualElapsedTime      70096
CRSElapsedTime           407
AirTime                70096
ArrDelay               70096
DepDelay               64442
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 70096
TaxiOut                64442
Cancelled                  0
CancellationCode     2324775
Diverted                   0
CarrierDelay         1804634
WeatherDelay         1804634
NASDelay             1804634
SecurityDelay        1804634
LateAircraftDelay    1804634
dtype: int64

In [29]:
flights['ArrDelay'].min()

-91.0

In [30]:
# Standardize the IATA codes (remove whitespace, convert to uppercase)
flights['Origin'] = flights['Origin'].str.strip().str.upper()
flights['Dest'] = flights['Dest'].str.strip().str.upper()
airports['iata'] = airports['iata'].str.strip().str.upper()

In [31]:
# Merge flights with airports for Origin details
flights_with_origin = flights.merge(airports, left_on='Origin', right_on='iata', how='inner')
flights_with_origin.rename(columns={'city': 'OriginCity', 'state': 'OriginState'}, inplace=True)

# Merge with airports again for Destination details
updated_flights = flights_with_origin.merge(airports, left_on='Dest', right_on='iata', how='inner')
updated_flights.rename(columns={'city': 'DestCity', 'state': 'DestState'}, inplace=True)

# Drop duplicate IATA columns from the merge
updated_flights.drop(columns=['iata_x', 'iata_y','country_x','lat_x','long_x','country_y','lat_y','long_y'], inplace=True)
updated_flights.rename(columns={'airport_x': 'OriginAirport', 'airport_y': 'DestAirport'}, inplace=True)

In [32]:
final_df = pd.merge(updated_flights, carrier, left_on='UniqueCarrier', right_on='Code', how='inner')
final_df.drop(columns=['Code'], inplace=True)

In [37]:
print(final_df.shape)
final_df.isnull().sum()

(2389217, 36)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                64442
CRSDepTime                 0
ArrTime                70096
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                42452
ActualElapsedTime      70096
CRSElapsedTime           407
AirTime                70096
ArrDelay               70096
DepDelay               64442
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 70096
TaxiOut                64442
Cancelled                  0
CancellationCode     2324775
Diverted                   0
CarrierDelay         1804634
WeatherDelay         1804634
NASDelay             1804634
SecurityDelay        1804634
LateAircraftDelay    1804634
OriginAirport              0
OriginCity              1691
OriginState             1691
DestAirport                0
DestCity                1691
DestState               1691
Description                0
dtype: int64

In [ ]:
final_df.drop(final_df[final_df['DestCity'].isnull()].index, inplace=True)
final_df.drop(final_df[final_df['OriginCity'].isnull()].index, inplace=True)

In [45]:
final_df.drop(columns='TailNum', inplace=True)

In [46]:
print(final_df.shape)
final_df.isnull().sum()

(2385835, 35)

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                64288
CRSDepTime                 0
ArrTime                69924
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
ActualElapsedTime      69924
CRSElapsedTime           407
AirTime                69924
ArrDelay               69924
DepDelay               64288
Origin                     0
Dest                       0
Distance                   0
TaxiIn                 69924
TaxiOut                64288
Cancelled                  0
CancellationCode     2321547
Diverted                   0
CarrierDelay         1802018
WeatherDelay         1802018
NASDelay             1802018
SecurityDelay        1802018
LateAircraftDelay    1802018
OriginAirport              0
OriginCity                 0
OriginState                0
DestAirport                0
DestCity                   0
DestState                  0
Description                0
dtype: int64

In [47]:
final_df.to_csv('../processed-data/semi-processed.csv', index=False, header=False)

In [ ]:
final_df.to_csv('../processed-data/semi-processed-with-headers.csv', index=False)

In [48]:
final_df_sampled = final_df.sample(150000)
final_df_sampled.to_csv('../processed-data/semi-processed_sample.csv', index=False, header=False)

In [54]:
final_df['Description'].unique()

array(['Southwest Airlines Co.', 'Skywest Airlines Inc.',
       'Pinnacle Airlines Inc.', 'American Eagle Airlines Inc.',
       'Expressjet Airlines Inc.', 'Mesa Airlines Inc.',
       'Northwest Airlines Inc.', 'Delta Air Lines Inc.',
       'Atlantic Southeast Airlines', 'United Air Lines Inc.',
       'AirTran Airways Corporation', 'JetBlue Airways',
       'US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.)',
       'American Airlines Inc.', 'Alaska Airlines Inc.', 'Comair Inc.',
       'Continental Air Lines Inc.', 'Frontier Airlines Inc.',
       'Aloha Airlines Inc.', 'Hawaiian Airlines Inc.'], dtype=object)

In [50]:
final_df_sampled.to_csv('../processed-data/semi-processed-with-headers_sample.csv', index=False)